.product-card {
  border: 2px solid rgba(63, 81, 181, 0.2);
  border-radius: 5px;
  padding: 0 0.5rem;
}

.product-card-img {
  height: 82px;
  width: 82px;
}

.product-img {
  width: 100%;
  height: auto;
}

.product-name {
  margin-bottom: 0;
}

@media screen and (max-width: 600px) {
  .product-card-img {
    width: 200px;
    height: 200px;
  }
}
