.product-card {
  border: 2px solid rgba(63, 81, 181, 0.2);
  border-radius: 5px;
  padding: 0 0.5rem;
}

.product-card-img {
  height: 80px;
  width: 80px;
}

.product-img {
  width: 80px;
  height: auto;
}
.product-name {
  margin-bottom: 0;
}
