.products {
  max-width: 1000px;
  margin: auto;
}
.product-card {
  max-width: 220px;
  margin-bottom: 1.5rem;
}

.card-image {
  margin-bottom: 0;
}

.product-title {
  margin-bottom: 12px;
  font-weight: 500;
}

.product-price {
  margin-bottom: 8px;
}
